@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');
:root{
    --black-bg-color: #010206;
    --main-orange: #F55322;
    --white: #fff;
    --semi-bold: 600;
    --medium-weight: 500;
    --regular-weight: 400;
    --secondary-black: #11141B;
    --main-yellow: #FFC208;
    --gray-text: #C3C3C3;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--black-bg-color);
    font-family: Rubik, sans-serif;
    color: var(--white);
}
span.error{
    color: red;
    font-size: 14px;
    margin-bottom: .5rem;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: .3s all ease;
}
a:hover{
    color: #F55322;
}
.fa-bars{
    font-size: 25px;
    display: none;
}
.fa-xmark{
    display: none;
}
.fa-brands:hover{
    color: var(--main-orange);
    cursor: pointer;
}
.btn{
    color: var(--white);
    background-color: var(--main-orange);
    font-family: Rubik, sans-serif;
    padding: 10px 20px;
    border: 1px solid var(--main-orange);
}
.btn:hover{
    cursor: pointer;
}
.halved__btn{
    padding: 10px 20px;
    white-space: nowrap;
    background-color: #22252C;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: var(--regular-weight);
    cursor:pointer;
    transition: .5s width ease;
    letter-spacing: 3px;
    font-family: Teko, sans-serif;
}
nav, div.hero, div.forms{
    padding: 0 115px;
}
div.halved__button{
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
div.halved__button p{
    margin: 0;
}
div.halved__button .bg__div{
    background-color: #b2c4ec;    
    width: 100%;
    height: 100%;
}

/* Styles for navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    transition: all .5s ease;
}
div.links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for blogs and articles */

div.blogs{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
div.blog{
    width: 28%;
    background-color: var(--secondary-black);
    border-radius: 5px;
}
div.blog img{
    width: 100%;
}
div.blog__text{
    padding: 1rem;
}
div.blog__text h2{
    font-size: 18px;
    font-size: var(--regular-weight);
    margin-bottom: 1rem;
}
div.blog__text p{
    color: var(--gray-text);
    font-size: 15px;
    margin-bottom: 1.5rem;
}
button.read__story{
    width: 70px;
    padding: 5px 10px;

}
button.read__story:hover{
    width: 120px;
}

/* Styles for footer */

footer{
    padding: 40px 115px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.footer__icons{
    display: flex;
}
footer div.icon__container{
    margin-right: 1.5rem;
    width: 30px;
    height: 30px;
    margin-bottom: 1.5rem;
}
footer div.icon__container i{
    color: var(--white);
    font-size: 14px;
}
footer span{
    font-size: 15px;
    font-family: Teko, sans-serif;
    letter-spacing: 2px;
}

@media only screen and (max-width: 430px) {
    div.links{
        display: none;
    }
    .fa-bars{
        display: block;
        cursor: pointer;
    }
    nav.show{
        height: 100vh;
        background-color: white;
        margin-top: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
        padding-top: 3rem;
    }
    .show div.links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .show div.links a{
        color: #333;
        font-size: 18px;
        font-weight: var(--semi-bold);
        margin-bottom: .7rem;
    }
    .show .fa-bars{
        display: none;
    }
    .show a.login{
        border: 0;
        padding: 0;
    }
    .show div.img__and__close{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }
    .show .fa-xmark{
        font-size: 20px;
        display: block;
        cursor: pointer;
        color: #333;
    }
    footer span{
        width: 100vw;
        text-align: center;
    }
    nav{
        padding: 0 30px;
    }
    div.blog{
        width: 100%;
        margin-bottom: 1rem;
    }
}