@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --black-bg-color: #010206;
    --main-orange: #F55322;
    --white: #fff;
    --semi-bold: 600;
    --medium-weight: 500;
    --regular-weight: 400;
    --secondary-black: #11141B;
    --main-yellow: #FFC208;
    --gray-text: #C3C3C3;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--black-bg-color);
    font-family: Rubik, sans-serif;
    color: var(--white);
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: .3s all ease;
}
a:hover{
    color: #F55322;
}
.fa-brands:hover{
    color: var(--main-orange);
    cursor: pointer;
}
.btn{
    color: var(--white);
    background-color: var(--main-orange);
    font-family: Rubik, sans-serif;
    padding: 10px 20px;
    border: 1px solid var(--main-orange);
}
.btn:hover{
    cursor: pointer;
}
nav, div.hero, div.about__me{
    padding: 0 115px;
}

button.halved__button{
    background-color: #22252C;
    width: 87px;
    white-space: nowrap;
    margin-top: 4rem;
    padding: 10px;
    border: 0;
    color: white;
    font-weight: var(--regular-weight);
    transition: .4s width ease;
}
button.halved__button:hover{
    width: max-content;
}

/* Main headings */
.main__heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.main__heading h1{
    font-size: 40;
    font-weight: bold;
    margin-bottom: 1rem;
}
.main__heading div.underline{
    border-bottom: 2px solid var(--white);
    width: 10%;
    height: 1px;
}

/* Styles for navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
div.links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.login{
    border: 1px solid var(--main-orange);
    padding: 5px 20px;
    transition: .3s all ease-in;
}
a.login:hover{
    background-color: var(--main-orange);
    color: var(--white);
}

/* styles for hero div */

div.hero{
    color: white;
    display: flex;
}
div.hero img{
    height: 90vh;
}
div.hero__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.hero__text h2{
    font-weight: var(--medium-weight);
    font-size: 18px;
    margin-bottom:2rem;
}
.hero__text h1{
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 1rem;
}
div.social__icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
div.buttons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 4rem 0;
}
div.buttons .btn{
    border-radius: 20px;
}
.fa-chevron-down{
    color: #c5c5c5;
    padding: 6px 7px;
    border-radius: 50%;
    background-color: #3C3B40;
    cursor: pointer;
    font-size: 10px;
    transform: translateX(50%);
}

/* Styles for about me */

div.about__me{
    padding: 60px 115px;
    background-color: var(--secondary-black);
}
div.about__container{
    display: flex;
    justify-content: space-between;
}
div.about__me img, div.about__me .about__text{
    width: 46%;
}
.about__text h1{
    font-size: 25px;
}
span.name{
    color: var(--main-yellow);
}
span.role{
    color: var(--gray-text);
    font-weight: var(--regular-weight);
    letter-spacing: 5px;
    margin-top: .5rem;
    display: block;
}
.about__text p{
    margin-top: 1rem;
    font-weight: var(--regular-weight);
    font-size: 14px;
    line-height: 1.5;
    margin-top: 2rem;
}